<div class="container">

  <div class="page-header">

    <h1 class="text-danger text-center">T-Shirt App</h1>

  </div>
  <hr>
  <br>

  <div class="row">

    <div class="col-md-7">

      <div *ngFor="let p of products" class="card mb-3" style="max-width:540px;">

        <div class="row no-gutters">

          <div class="col-md-4">

            <img (mouseenter)='p.imgSrc=p.backImageUrl' (mouseleave)='p.imgSrc=p.frontImageUrl'
              [src]="p.imgSrc || p.frontImageUrl " alt="Card image cap" [style.width.px]='imageWidth'
              [style.height.px]='imageHeight'>

          </div>

          <div class="col-md-8">

            <div class="card-body">

              <h5 class="card-title">{{p.name}}</h5>

              <p class="card-text">{{p.description}}</p>

              <div class="card-text alert alert-success" role="alert">

                Price: {{p.tshirtPrice | currency:'INR':'symbol':'1.2-2'}}

              </div>

              <div class="row">

                <div class="col-mod-7">

                  <button  style=" margin-left: 14px;" [disabled]="buyButton" class="btn btn-danger" (click)='addtocart(p)'>Add to Cart</button>

                </div>

                <div class="col-md-5">

                  Quantity :<span [style.color]="p.inStock
< 25 ? 'red':'green'">

                    {{p.inStock}}

                  </span>

                </div>
                



              </div>

            </div>

          </div>

        </div>

      </div>

    </div>
     <div class = "col-md-5">
      <app-tshirt-details *ngIf ="showDetails" (buyevent) = 'update($event)' (cancelevent)='cancel($event)'
      [tshirt] = 'tshirtdetails'>
    </app-tshirt-details>
    </div>

  </div>

</div>